.clock {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 300px;
    color: white;
}

.clock h4 {
    font-size: 30px;
    margin-bottom: 10px;
}

.clock button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #22a;
    cursor: pointer;
    color: white;
}

.setters {
    width: 100%;
    display: flex;
}

.setters span {
    margin: 0 15px;
    font-size: 19px;
    width: 20px;
    display: inline-block;
}

.break,
.session {
    padding: 10px 30px;
    width: 50%;
    text-align: center;
}

.display {
    padding: 10px 30px;
    width: 50%;
    text-align: center;
    margin: auto;
}

.display span {
    margin-bottom: 10px;
    font-size: 19px;
    display: block;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
}